<h1>Aca es la vista de index</h1>
<%= cl_image_tag("mufhrcyess7em8khnhma", width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("mufhrcyess7em8khnhma", width: 150, height: 150, crop: :thumb, gravity: :face) %>

<div class="container">
 <div class="cards">
  <% @cocktails.each do |c| %>
      <%= link_to cocktail_path(c) do  %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= c.photo %> )">
          <h2><%= c.name %> </h2>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= link_to "Eliminar", new_cocktail_path %>
</div>
<div class="row">
<%= link_to "Create new cocktail", new_cocktail_path  %>
</div>
